/*
Kyle Moon
6/21/2016
*/


body {
	font-family: verdana, Geneva, Arial, Helvetica, san-serif;
	background-color: #c0e59b;
}

h1{
	text-align: center;
}

h2{color: navy;}

h3{
	color: navy;
	font-weight: bold;
	}

p{
		text-indent: 5em;
		line-height: 1.5em;
	}

h4{
	font-style: italic;
	color: maroon;
	text-transform: uppercase;
}